<div class="row">
  <div class="col-sm-12">
    <div class="panel-heading">
      <h1 class="panel-title">
        Incidence Log Page
      </h1>
    </div>
    <div class="panel-body">
      <div id="button-list">

        <a
          class="btn btn-default btn-lg btn-block"
          ng-repeat="(id, eventType) in evenTypeList"
          ng-click="sendEvent(eventType)">
          <i ng-class="'fa '+eventType.icon_name+' fa-lg'"></i> {{ eventType.name }}
        </a>

      </div>
    </div>
  </div>
</div>