<div class="row">
  <div class="col-sm-12">
    <div class="panel-heading">
      <h3 class="panel-title">
        User Profile
      </h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-responsive table-striped">
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{ userProfile.name }}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{ userProfile.phone }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>