<div class="control-panel">
  <ul class="control-panel-list">

    <li>
      <a ui-sref="facilities">
        <span class="fa fa-hospital-o fa-3x"></span>
        <span class="control-panel-icon-text">Track Driving</span>
      </a>
    </li>

    <li>
      <a ui-sref="stock-count-by-facility">
        <span class="fa fa-list-alt fa-3x"></span>
        <span class="control-panel-icon-text">Stock Count By Facility</span>
      </a>
    </li>

    <li>
      <a ui-sref="stock-count-by-product">
        <span class="fa fa-list fa-3x"></span>
        <span class="control-panel-icon-text">Stock Count By Product</span>
      </a>
    </li>

    <li>
      <a ui-sref="stock-out">
        <span class="fa fa-sign-out fa-3x"></span>
        <span class="control-panel-icon-text">Stock Out</span>
      </a>
    </li>

    <li>
      <a ui-sref="facilities">
        <span class="fa fa-hospital-o fa-3x"></span>
        <span class="control-panel-icon-text">Health Facilities</span>
      </a>
    </li>

  </ul>
</div>